apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: {{ prometheus_datasource_access }}
    url: {{ prometheus_datasource_url }}
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s
