[Unit]
Description=Prometheus Time Series Database
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ prometheus_binary_install_dir }}/prometheus \
  --config.file={{ prometheus_config_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --storage.tsdb.retention.time={{ prometheus_retention_time }} \
  --storage.tsdb.retention.size={{ prometheus_retention_size }} \
  --web.listen-address=:{{ prometheus_web_listen_port }} \
  --web.console.templates={{ prometheus_config_dir }}/consoles \
  --web.console.libraries={{ prometheus_config_dir }}/console_libraries \
  --web.external-url=http://{{ ansible_host }}:{{ prometheus_web_listen_port }}/ \
  --web.enable-lifecycle \
  --web.enable-admin-api

SyslogIdentifier=prometheus
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
